<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="780d0b4a1-944a-4003-a0e8-7d6fd3a950fd" Publisher="CN=RemObjects Software" Version="1.1.0.0" />
  <Properties>
    <DisplayName>SnapTileSample</DisplayName>
    <PublisherDisplayName>RemObjects Software</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>SnapTileSample</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="SnapTileSample.exe" EntryPoint="SnapTileSample.App">
      <m2:VisualElements DisplayName="Snap Tile Sample" Description="The RemObjects Software Oxygene for .NET Metro Snap Tile Sample" BackgroundColor="#222222" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>