<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--
			See http://msdn2.microsoft.com/en-us/library/bb676633.aspx for
			detailed information about the Windows Live ID settings and how
			to obtain your own application id and how to configure your own
			secret key.
					
			This live application id is the same as for the C# sample and
			it is configured to return to
				http://localhost/webauth/sample/webauth-handler.aspx
			
			So make sure the web application is configured exactly how it
			is described in
			http://msdn2.microsoft.com/en-us/library/bb676630.aspx
		-->
		<add key="wll_appid" value="00163FFF80003301"/>
		<add key="wll_secret" value="ApplicationKey123"/>
		<add key="wll_securityalgorithm" value="wsignin1.0"/>
	</appSettings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
