<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="baseAddress" value="http://localhost:8080/IndigoService" />
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name= "Indigo.IndigoService" behaviorConfiguration="metadataBehavior">
          <endpoint address="svc" binding="wsHttpBinding"
                    contract="Indigo.IndigoService"/>
          <endpoint address="net.tcp://localhost:8081/IndigoService"
                    binding="netTcpBinding"
                    contract="Indigo.IndigoService"/>
          <endpoint address="net.pipe://localhost/IndigoService"
                    binding="netNamedPipeBinding"
                    contract="Indigo.IndigoService"/>
      </service>
    </services>

  </system.serviceModel>
</configuration>
