<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.business</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright © Me. All rights reserved.</string>
		<key>NSMainNibFile</key>
		<string>MainMenu</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>

		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>foo</string>
				</array>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.example.foo</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>App</string>
				<key>CFBundleTypeName</key>
				<string>Foo Document</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>NSDocumentClass</key>
				<string>FooDocument</string>
			</dict>
		</array>

		<key>UTExportedTypeDeclarations</key>
		<array>
			<dict>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.text</string>
				</array>
				<key>UTTypeDescription</key>
				<string>Foo Document</string>
				<key>UTTypeIconFile</key>
				<string>App</string>
				<key>UTTypeIdentifier</key>
				<string>com.example.foo</string>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>public.filename-extension</key>
					<array>
						<string>foo</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</plist>