<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7422c44de-374c-446c-9144-fdebe7387611" Publisher="CN=RemObjects Software" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TileNotifications</DisplayName>
    <PublisherDisplayName>RemObjects Software</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>TileNotifications</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="TileNotifications.exe" EntryPoint="TileNotifications.App">
      <VisualElements DisplayName="Tile Notifications Example" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Oxygene for .NET example of Tile Notifications" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" ShortName="Tiles Oxygene" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>