<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="httpEndpoint"
       address="http://localhost:8080/IndigoService/svc"
       binding="wsHttpBinding"
       contract="IndigoService"/>
      <endpoint name="tcpEndpoint"
        address="net.tcp://localhost:8081/IndigoService"
        binding="netTcpBinding"
        contract="IndigoService"/>
      <endpoint name="namedPipeEndpoint"
        address="net.pipe://localhost/IndigoService" 
        binding="netNamedPipeBinding"
        contract="IndigoService"/>
    </client>
  </system.serviceModel>
</configuration>